<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <title>Registro</title>
</head>
<body>
    <header>
        <section class="header-top-section">
            <div><img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"></div>
            <p><i class="fa fa-search"></i>Lugar para barra de busqueda</p>
            <div class="header-top-text">
                <p><i class='fas fa-hand-holding-usd'></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </section>

        <section class="header-bottom-section">
            <nav>
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <li><a href="/registro">Creá tu cuenta<i class='far fa-address-card'></i></a></li>
                    <li><a href="/login">Ingresá<i class='fas fa-sign-out-alt'></i></a></li>
                    <li><a href="#">Mis compras<i class='fas fa-shopping-basket'></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <img src="/img/img-home-baner.jpg" alt="Home Banner">
        </section>
    </header>

    <main>
        <form action="/registro" class="form-registro">
            <div class="registro-contenedor">
                <label for="name"><i class='fas fa-user-alt'></i> Nombre:</label>
                <input type="text" id="name" name="name" placeholder="Juan">
            </div>

            <div class="registro-contenedor">
                <label for="surname"><i class='fas fa-id-card'></i> Apellido:</label>
                <input type="text" id="surname" name="surname" placeholder="Perez">
            </div>

            <div>
                <label for="date">Fecha de nacimiento:</label>
                <input type="date" name="date">
            </div>

            <div>
                <label for="adress">Domicilio</label>
                <input type="text" name="adress">
            </div>

            <div>
                <label for="profile">Tipo de usuario</label>
                <input type="radio" name="profile" value="comprador">Comprador
                <input type="radio" name="profile" value="vendedor">Vendedor
            </div>

            <div>
                <label for="interest">Categorías de interés:</label>
                <input type="checkbox" name="interest" value="electro">Electro
                <input type="checkbox" name="interest" value="moda">Moda
                <input type="checkbox" name="interest" value="hogar">Hogar
                <input type="checkbox" name="interest" value="jugueteria">Juguetería
                <input type="checkbox" name="interest" value="vida-sana">Vida sana
            </div>

            <div>
                <label for="photo">Foto de usuario:</label>
                <input type="file" name="photo" accept=".jpg">
            </div>

            <div class="registro-contenedor">
                <label for="username"><i class="fa fa-envelope"></i> Nombre de usuari@:</label>
                <input type="text" id="username" name="username" placeholder="juan.perez">
            </div>

            <div class="registro-contenedor">
                <label for="password"><i class='fas fa-key'></i> Contraseña:</label>
                <input type="password" id="password" name="password">
            </div>
            <br>
            <button type="submit">REGISTRARSE</button>
            <p>¿Ya tienes una cuenta?<a  href="/login">Iniciar Sesión</a></p>

        </form>
    </main>
    <footer>
        <div><i class='fas fa-credit-card'></i></div>
        <h4>Paga con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <br>
        <div><i class='fas fa-gift'></i></div>
        <h4>Envíos gratis desde $2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <br>
        <div><i class='fas fa-user-shield'></i></div>
        <h4>Seguridad de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <br>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>